
body {
	background: #eaeaea;
	
}

.navigasi {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	height: 11%;
	background: #1363DF;
	border-top: 5px solid yellow;
	box-shadow: 0 1px 3px 0 black;
}


/*ini sudah cukup*/
.search-box {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #eaeaea;
	height: 6px;
	border-radius: 40px;
	padding: 10px;
	transform: translate(-50% , -50%);
	width: 70%;
	box-shadow: 0 0 2px 0 black;
	transition: .2s;
}
 /*ini sudah cukup*/

.search-box:hover {
		background: #DBDBDB;
	
}

/* ini sudah cukup*/
 input {
	outline: none;
	border: none;
	width: 97%;
	padding: 0px;
	background: none;
	font-size: 17px;
	position: relative;
	top: -7px;
	color: #112B3C


}

.icon {
	float: right;
	width: 29px;
	color: #21DFCD;
	font-size: 1.3rem;
	height: 26px;
	border-radius: 50%;
	background: #47B5FF;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	top: -30px;
	right: -11px;
	
}


.titik {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: black;
	position: absolute;
	
}

.container {
	width: 75%;
	height: 900px;
	margin: 75px auto;
	background: white;
	position: relative;
	z-index: -9999;
	

}
	